<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="./assets/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/styles/style.css">
</head>

<body>
    <div class="container">
        <div id="root">
            <div class="todoBox">
                <h2>Todo</h2>
                <header class="addItem">
                    <input type="text" id="inpTitle" style="width:400px" placeholder="type new Todo">
                    <button class="btn plus addObject">+</button>
                </header>
                <ul class="rocketsList">
                </ul>
                <footer class="rocketsTotal">
                </footer>
            </div>
        </div>
    </div>

    <script type="text/template" id="stats">
        Done: <%= done %> IsNotDone: <%= isNotDone %> 
    </script>

    <script type="text/template" id="todoItem">
    <div class="todoItem addItem" draggable="true" id="<%= id %>">
        <div class="changeTaskStatus">
            <input type="checkbox" class="toggle">
            <li class="title" ><%= title %></li>
            <input class="changeTitle" type="text" value="<%- title %>"/>
        </div>
        <button class="btn deleteRow"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
    
</script>

</body>

<script src="assets/js/jquery.js"></script>
<script src="assets/js/underscore.js"></script>
<script src="assets/js/backbone.js"></script>
<script src="models/ToDoItemModel.js"></script>
<script src="views/ToDoItem.js"></script>
<script src="views/ListOfToDoItems.js"></script>
<script src="main.js"></script>

</html>